
# By default, ignore _all_ files, but not directories
*
!*/

.ruff_cache/
_binaries/
_workdir/

# Git
!.git-blame-ignore-revs
!.gitattributes
!.gitignore

# Fonts
!*.ttf
!*.otf
!*.ttc

# Subs
!*.ass
!*.srt

# Scripts
!scripts/*
!mux.py

# Misc
!README.md
!*.vpy
!config.ini